<p id="notice"><%= notice %></p>

<p>
  <strong>User ID:</strong>
  <%= @user.id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Ipaddress:</strong>
  <%= @user.ipaddress %>
</p>

<p>
  <strong>Validated:</strong>
  <%= @user.validated %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
